[submodule "extension/gmaps"]
    path = extension/gmaps
    url = https://github.com/tapquo/atoms-app-gmaps
[submodule "extension/carousel"]
    path = extension/carousel
    url = https://github.com/tapquo/atoms-app-carousel
[submodule "theme"]
    path = theme
    url = https://github.com/tapquo/atoms-app-theme
[submodule "extension/appnima/user"]
	path = extension/appnima/user
	url = https://github.com/tapquo/atoms-app-appnima-user
[submodule "extension/appnima/payment"]
	path = extension/appnima/payment
	url = https://github.com/tapquo/atoms-app-appnima-payment
[submodule "extension/calendar"]
	path = extension/calendar
	url = https://github.com/tapquo/atoms-app-calendar.git
[submodule "extension/leaflet"]
	path = extension/leaflet
	url = https://github.com/tapquo/atoms-app-leaflet.git
[submodule "extension/icons"]
	path = extension/icons
	url = https://github.com/tapquo/bower-atoms-icons
[submodule "extension/payments"]
	path = extension/payments
	url = https://github.com/tapquo/atoms-app-payments
