[submodule "extension/gmaps"]
    path = extension/gmaps
    url = https://github.com/tapquo/atoms-app-gmaps
[submodule "extension/carousel"]
    path = extension/carousel
    url = https://github.com/tapquo/atoms-app-carousel
[submodule "extension/stripe"]
    path = extension/stripe
    url = https://github.com/tapquo/atoms-app-stripe
[submodule "theme"]
    path = theme
    url = https://github.com/tapquo/atoms-app-theme
[submodule "extension/appnima/user"]
	path = extension/appnima/user
	url = https://github.com/tapquo/atoms-app-appnima-user
[submodule "extension/appnima/payment"]
    path = extension/appnima/payment
    url = https://github.com/tapquo/atoms-app-appnima-payment
[submodule "extension/chart"]
	path = extension/chart
	url = https://github.com/tapquo/atoms-app-chart
