@import "__vendor.styl"

/* DIMENSIONS */
HEADER_HEIGHT           = 3.6rem
FOOTER_HEIGHT           = 3.35rem
ARTICLE_NAV_HEIGHT      = (FOOTER_HEIGHT / 1.3)
MODAL_WIDTH             = 280px
PADDING                 = 0.75rem
MIN_HEIGHT              = 2.5rem

/* FONT */
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_LABEL         = 0.85rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.2rem

/* FORM */
FORM_CIRCLE_HEIGHT      = 24px
