@import "__vendor.styl"

/* DIMENSIONS */
HEADER_HEIGHT            = 3.4rem
FOOTER_HEIGHT            = 3.2rem
HEADER_EXTRA_HEIGHT      = 2.1rem
MODAL_WIDTH              = 18rem
PADDING                  = 1rem
IOS_STANDALONE_HEIGHT    = 20px

HEIGHT_TINY              = 4rem
HEIGHT_SMALL             = 6rem
HEIGHT_NORMAL            = 8rem
HEIGHT_BIG               = 12rem

/* FONT */
FONT_SIZE_TINY           = 0.8rem
FONT_SIZE_SMALL          = 0.9rem
FONT_SIZE_NORMAL         = 1.0rem
FONT_SIZE_BIG            = 1.2rem

/* FORM */
FORM_CIRCLE_HEIGHT       = 26px
