[data-atoms=app]
  > aside, > article
    display-flex()
    flex-direction column
    height: inherit
    transform translateZ(0)

    > header, > footer
      position: relative

    > header, > nav, > form,  > footer
      flex-shrink 0

    > header
      order 1

    > nav, > form
      order 2

    > section
      order 3
      flex-grow 2

    > footer
      order 4

  &[data-screen=normal]
    display-flex()
    flex-direction row
    > [data-organism-aside], > [data-organism-article]
      position: relative

  &[data-screen=small]
    > [data-organism-aside], > [data-organism-article]
      position: absolute
