[data-atoms=app], html
  position: absolute
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

[data-atoms=app]
  vendor(transform-style, preserve-3d)

  > aside, > article
    position: absolute
    display-flex()
    flex-direction column
    height: inherit
    transform translateZ(0)

    > header, > footer
      position: relative

    > header, > nav, > form,  > footer
      flex-shrink 0

    > header
      order 1

    > nav, > form
      order 2

    > section
      order 3
      flex-grow 2

    > footer
      order 4

  /* -------------------------- CLASSES -------------------------- */
  :not(.align)
    &.left
      float: left
    &.right
      float: right

  .align
    &.left
      text-align: left
    &.center
      text-align: center
    &.right
      text-align: right
    &.justify
      text-align: justify

  .rounded
    border-radius: 1rem
  .circular
    border-radius: 500rem

  .margin-top
    margin-top: PADDING !important
  .margin-right
    margin-right: PADDING !important
  .margin-bottom
    margin-bottom: PADDING !important
  .margin-left
    margin-left: PADDING !important
  .margin-all
    margin: PADDING !important

  .padding-top
    padding-top: PADDING !important
  .padding-right
    padding-right: PADDING !important
  .padding-bottom
    padding-bottom: PADDING !important
  .padding-left
    padding-left: PADDING !important
  .padding-all
    padding: PADDING !important
