a,abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video
  border: 0
  margin: 0
  outline: 0
  padding: 0

*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing(border-box)

audio, video
  &:not([controls])
    display: none

[hidden]
  display: none

html
  position: absolute
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  // overflow-y: visible !important
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: moz-none
  user-select: none
  *
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle
  font-size: 0

table
  border-collapse: collapse
  border-spacing: 0

th, td, caption
  vertical-align: top
  text-align: left

::-webkit-scrollbar
  width: 0px
  height: 0px


[data-atoms=app]
  vendor(transform-style, preserve-3d)

  h1, h2, h3, h4, h5, h6, label, p, button, abbr, a
    -webkit-font-smoothing: subpixel-antialiased
    font-smoothing: subpixel-antialiased
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

  span
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased

  /* -------------------------- ATTRIBUTES -------------------------- */
  [data-tooltip]
    position: relative
    &:hover:after
      content: attr(data-tooltip)
      z-index: 1980
      display: block
      position: absolute
      top: .5rem
      left: .5rem
      padding: .2rem .4rem
      white-space: nowrap

  /* -------------------------- CLASSES -------------------------- */
  :not(.align)
    &.left
      float: left
    &.right
      float: right

  .align
    &.left
      text-align: left
    &.center
      text-align: center
    &.right
      text-align: right
    &.justify
      text-align: justify

  .rounded
    border-radius: 1rem
  .circular
    border-radius: 500rem

  .margin-top
    margin-top: PADDING !important
  .margin-right
    margin-right: PADDING !important
  .margin-bottom
    margin-bottom: PADDING !important
  .margin-left
    margin-left: PADDING !important
  .margin-all
    margin: PADDING !important

  .padding-top
    padding-top: PADDING !important
  .padding-right
    padding-right: PADDING !important
  .padding-bottom
    padding-bottom: PADDING !important
  .padding-left
    padding-left: PADDING !important
  .padding-all
    padding: PADDING !important
