/* INPUT Elements */
[data-atoms=app]
  input, select, textarea
    -webkit-appearance: none
    -webkit-user-select: text
    -webkit-touch-callout: none
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    outline: none

  /* -------------------------- DEFAULTS -------------------------- */
  input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], select, textarea, label.select
    display: inline-block
    width: 100%
    margin: 0.2rem 0
    padding: 0.65rem 0.75rem
    font-family: inherit
    border: none
    box-sizing border-box

    &:focus
      outline: none !important
    &.big
      padding: 0.85rem 0.75rem
      font-size: FONT_SIZE_BIG
    &.small
      padding: 0.45rem 0.75rem
      font-size: FONT_SIZE_SMALL
    &.tiny
      padding: 0.35rem 0.75rem
      font-size: FONT_SIZE_TINY

  /* -------------------------- RANGE -------------------------- */
  input[type=range]
    height: .2rem
    width: 100%
    margin: 1.5em 0
    padding: 0
    border: none
    -webkit-appearance: none
    outline: none
    &::-webkit-slider-thumb
      position: relative
      width: FORM_CIRCLE_HEIGHT
      height: FORM_CIRCLE_HEIGHT
      -webkit-appearance: none
      border: none

  fieldset
    > datalist
      display: none
      z-index: 1
      position: absolute
      left: .25rem
      right: .25rem
      width: auto
      margin-top: -.5rem
      max-height : 13.5rem
      &.active
        display: block
      > *
        padding: .6rem
        font-size: FONT_SIZE_NORMAL
        line-height: SIZE = 1.5rem
