[data-atoms=app]
  [data-organism=section]
    [data-atom=icon]
      &.tiny
        font-size: (.5 * HEIGHT_TINY)
      &.small
        font-size: (.5 * HEIGHT_SMALL)
      &.big
        font-size: (.5 * HEIGHT_BIG)
      &:not(.tiny):not(.small):not(.big)
        font-size: (.5 * HEIGHT_NORMAL)
