[data-atom-button]
  -webkit-appearance: none
  -moz-appearance:none
  appearance:none
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
  outline: none

  display: inline-block
  vertical-align: middle
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  line-height: inherit
  line-height: inherit
  text-align: center
  text-decoration: none
  border: none
  cursor: pointer
  outline: none
  box-sizing border-box
  background: transparent
  background-color: transparent
  border-radius: 0px
  > small
    display: inline-block
    min-width: FONT_SIZE_TINY
    max-width: FONT_SIZE_NORMAL
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: .75rem
    line-height: 1.1rem
    padding: 0 .2rem 0 .2rem
  > .icon + abbr
    margin-left: 0.25em

  &.loading
    > .icon:before, > abbr:before
      content: "\e666"
      font-family: "Atoms"
      transform-origin: 50% 50%
      animation loading-icon 2s infinite linear

    > .icon:before
      position: relative
    > abbr:before
      position: absolute
      left: UNIT
    > .icon + abbr:before
      content: ""

  [data-atoms=app] [data-organism-header] &
    height: HEADER_HEIGHT
    padding: 0 .5rem
    vertical-align: top
    > abbr
      font-size: FONT_SIZE_SMALL
    > .icon
      font-size: (FONT_SIZE_BIG * 1.3)
    > small
      position: absolute
      top: .6rem

  [data-atoms=app] [data-organism-header] > :not(.right):not(.left) &
    height: (HEADER_HEIGHT / 1.45)
    padding: 0 .5rem
    vertical-align: sub

  [data-atoms=app] [data-organism-section] &
    margin: 0.2rem 0
    > *
      vertical-align: baseline
    > .icon
      margin-top: .1rem
    &:not(.big):not(.small):not(.tiny)
      padding: .7rem 1.4rem
      font-size: FONT_SIZE_SMALL
    &.big
      padding: .8rem 1.6rem
      font-size: FONT_SIZE_NORMAL
    &.small
      padding: .4rem .8rem
      font-size: FONT_SIZE_TINY
    &.tiny
      padding: .3rem .6rem
      font-size: (.9 * FONT_SIZE_TINY)
    &.fluid
      width: 100%
      position: relative
      &:not(.icon) > .icon
        position: absolute
        left: SIZE = 1rem

    &[disabled]
      cursor: default
    & + button
      margin-right: 0.2rem
    > small
      display: none

  [data-atoms=app] [data-organism-article] [data-organism-footer] &
    position: relative
    height:  FOOTER_HEIGHT
    display-flex()
    flex-direction column
    justify-content center
    align-content center
    align-items center
    > abbr
      margin-left: 0
      font-weight: FONT_WEIGHT_NORMAL
      line-height: FONT_SIZE_TINY
    > .icon
      font-size: (FONT_SIZE_NORMAL * 1.75)
      + abbr
        font-size: FONT_SIZE_TINY
    > small
      position: absolute
      top: .5rem
      margin-left: 1.5rem
