[data-atoms=app]
  [data-atom-input=autocomplete]
    > datalist
      z-index: 2
      display: none
      position: absolute
      left: .25rem
      right: .25rem
      width: auto
      margin-top: -.5rem
      max-height : 13.5rem
      &.active
        display: block
      > *
        padding: .6rem
        font-size: FONT_SIZE_NORMAL
        line-height: SIZE = 1.5rem
        list-style: none
