[data-atom-button]
  display: inline-block
  vertical-align: middle
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  line-height: inherit
  text-align: center
  text-decoration: none
  border: none
  cursor: pointer
  outline: none
  background: none
  > small
    display: inline-block
    min-width: FONT_SIZE_TINY
    max-width: FONT_SIZE_NORMAL
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: .75rem
    line-height: 1.1rem
    padding: 0 .2rem 0 .2rem
  > .icon + abbr
    margin-left: 0.25em

  &.loading
    > .icon:before, > abbr:before
      content: "\e666"
      font-family: "Atoms"
      transform-origin: 50% 50%
      animation loading-icon 2s infinite linear
    > .icon:before
      position: relative
    > abbr:before
      position: absolute
      left: UNIT
      top: UNIT
    > .icon + abbr:before
      content: ""

  [data-atoms=app] [data-organism-header] &
    height: HEADER_HEIGHT
    padding: 0 .4rem
    vertical-align: top
    > abbr
      font-size: FONT_SIZE_SMALL
    > .icon
      font-size: (FONT_SIZE_BIG * 1.25)
    > small
      position: absolute
      top: .6rem

  [data-atoms=app] [data-organism-section] &
    margin: 0.2rem 0
    > *
      vertical-align: baseline
    > .icon
      margin-top: .1rem
    &:not(.big):not(.small):not(.tiny)
      padding: .8rem 1rem
      font-size: FONT_SIZE_NORMAL
    &.big
      padding: 1rem 1.6rem
      font-size: FONT_SIZE_BIG
    &.small
      padding: .5rem .6rem
      font-size: FONT_SIZE_SMALL
    &.tiny
      padding: .3rem .6rem
      font-size: (.9 * FONT_SIZE_TINY)
    &.fluid
      width: 100%
      position: relative
      &:not(.icon) > .icon
        position: absolute
        left: SIZE = 1rem
        margin-top: .2rem

    &[disabled]
      cursor: default
    & + button
      margin-right: 0.2rem
    > small
      display: none

  [data-atoms=app] [data-organism-footer] &
    > small
      position: absolute
      top: .5rem
      margin-left: -.5rem
