[data-atoms=app]
  [data-atom-input], [data-atom-select], [data-atom-textarea], [data-atom-switch]
    -webkit-appearance: none
    -moz-appearance:none
    appearance:none
    -webkit-touch-callout: none
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    outline: none
    background: transparent

  /* -------------------------- DEFAULTS -------------------------- */
  [data-atom-input]:not([type=range]):not([data-atom-input=autocomplete]):not([data-atom-input=checkbox]), [data-atom-input=autocomplete] > input, [data-atom-select], [data-atom-textarea]
    display: inline-block
    width: 100%
    font-family: inherit
    border: none
    box-sizing border-box
    -webkit-user-select: text
    &:focus
      outline: none !important
    &.big
      font-size: FONT_SIZE_BIG
    &.small
      font-size: FONT_SIZE_SMALL
    &.tiny
      font-size: FONT_SIZE_TINY
    &.inline
      width: 49%
      margin-right: 1%

  /* -- RANGE --------------------------------------------------------------- */
  [data-atom-input][type=range]
    height: .1rem
    width: 100%
    margin: 1.5rem 0
    padding: 0
    border: none
    &::-moz-range-thumb
      position: relative
      width: FORM_CIRCLE_HEIGHT
      height: FORM_CIRCLE_HEIGHT
      -moz-appearance:none
      background: transparent
      border: none
    &::-webkit-slider-thumb
      position: relative
      width: FORM_CIRCLE_HEIGHT
      height: FORM_CIRCLE_HEIGHT
      -webkit-appearance: none
      border: none

  /* -- CHECKBOX ------------------------------------------------------------ */
  [data-atom-input][type=checkbox]
    position: relative
    max-width: SIZE = (1.25 * UNIT)
    width: SIZE
    height: SIZE
    min-width: SIZE
    min-height: SIZE
    text-align: center
    font-size: inherit
    line-height: SIZE
    &:checked
      &:after
        content:'\2713'
        position: absolute
        left: 0px
        width: SIZE
    + [data-atom-label]
      vertical-align: top
      display: inline-block
      line-height: SIZE
      margin: 0 (UNIT / 2) 0 (UNIT / 4)
