[data-atoms=app]
  [data-atom-li]
    position: relative
    display-flex()
    line-height: inherit
    list-style-type: none
    > figure
      background-size: cover
      display-flex()
      justify-content center
      align-content center
      align-items center
      flex-shrink 0
      .icon
        display: block
        font-size: (1.5 * U)
        color: WHITE

    > div
      flex-grow 2
      span
        float: right
      strong, small
        display: block
      strong
        line-height: FONT_SIZE_BIG
      span, small
        font-size: FONT_SIZE_TINY
        line-height: FONT_SIZE_SMALL

    &.anchor
      font-size: FONT_SIZE_TINY
      padding:  (PADDING / 5) (PADDING / 2.5)
      > .icon
        margin:(PADDING / 5) (PADDING / 2.5) 0 0
      > div > small
        display: none

    &:not(.thumb):not(.anchor)
      padding: PADDING
      flex-direction row
      justify-content center
      align-content center
      align-items center
      text-align: -webkit-match-parent
      > figure, > .icon
        width: SIZE = 2.25rem
        height: SIZE
      > figure
        margin-right:  PADDING
      > .icon
        font-size: (2.4 * U)
        margin-right:  (PADDING / 3)

    &.thumb:not(.anchor)
      flex-direction column
      > figure
        order: 2
        width: 100%
        height: 320px
      > .icon
        display: none
      > div
        order: 1
        padding: (PADDING / 2.25) (PADDING / 2)
