[data-atoms=app]
  [data-atom-text]
    &.tiny
      font-size: FONT_SIZE_TINY
    &.small
      font-size: FONT_SIZE_SMALL
    &.big
      font-size: FONT_SIZE_BIG
    &:not(.tiny):not(.small):(.big)
      font-size: FONT_SIZE_NORMAL
    + [data-atom-text]
      margin-top: .5rem
