[data-atoms=app]
  [data-atom-figure]
    display-flex()
    justify-content center
    align-content center
    align-items center
    &.tiny
      height: HEIGHT_TINY
      line-height: HEIGHT_TINY
    &.small
      height: HEIGHT_SMALL
      line-height: HEIGHT_SMALL
    &.normal
      height: HEIGHT_NORMAL
      line-height: HEIGHT_NORMAL
    &.big
      height: HEIGHT_BIG
      line-height: HEIGHT_BIG
    & .icon
      font-size: SIZE = 2.5rem
      animation loading-icon 2s infinite linear
      color: WHITE
