[data-atoms=app]
  [data-organism-article], [data-organism-aside]
    > [data-organism-header]
      > [data-atom-heading]
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        display: block
        &:not(.left):not(.right)
          z-index: 0
          position: absolute
          left: 20%
          width: 60%
          text-align: center

        &.left, &.right
          padding: 0 .5rem
        &.left
          float: left
        &.right
          float: right
          text-align: right

      > h1[data-atom-heading]
        min-height: HEADER_HEIGHT
        line-height: HEADER_HEIGHT
  
      > h2[data-atom-heading]
        top: (PADDING / 2)
        line-height: (FONT_SIZE_BIG * 1.25)

      > h3[data-atom-heading]
        bottom: (PADDING / 2)
        line-height: FONT_SIZE_BIG
        font-size: FONT_SIZE_TINY !important
