[data-atoms=app]
  [data-organism=aside]
    [data-atom=link]
      display: block
      height: HEIGHT = (HEADER_HEIGHT / 1.35)
      line-height: HEIGHT
      > *
        vertical-align: middle
      > .icon
        font-size: (1.1 * FONT_SIZE_BIG)
        margin-right: 0.2rem
      > small
        float: right
        margin-top: .7rem
        padding: .2rem
        font-size: FONT_SIZE_TINY
        line-height: FONT_SIZE_TINY

  [data-organism=article] [data-organism=header] [data-atom=link]
    padding: 0 0.5em
    vertical-align: middle
