[data-atoms=app]
  [data-atom=li]
    position: relative
    line-height: inherit
    flex-direction row
    justify-content center
    align-content center
    align-items center
    display-flex()
    text-align: -webkit-match-parent
    list-style-type: none

    PADDING = .9rem
    &:not(.anchor)
      padding: PADDING
    &.anchor
      font-size: FONT_SIZE_TINY
      padding: (PADDING / 2) 0 0 PADDING

    > figure
      width: SIZE = 2.25rem
      height: SIZE
      margin-right:  PADDING
      background-size: cover
      display-flex()
      justify-content center
      align-content center
      align-items center
      flex-shrink 0
      .icon
        display: block
        font-size: SIZE = (.6 * SIZE)
        width: SIZE
        height: SIZE
    > div
      flex-grow 2
      span
        float: right
      strong, small
        display: block
      strong
        line-height: FONT_SIZE_BIG
      span, small
        font-size: FONT_SIZE_TINY
        line-height: FONT_SIZE_SMALL
