[data-atoms=app]
  [data-atom-switch]
    display: block
    position: relative
    height: (FORM_CIRCLE_HEIGHT + 2)
    width: (FORM_CIRCLE_HEIGHT * 2)
    margin: 0.2rem 0
    cursor: pointer
    overflow: visible
    &:after
      content: ''
      position: absolute
      display: block
      width: SIZE = FORM_CIRCLE_HEIGHT
      height: SIZE
      top: -(SIZE / 2)
      top: 1px
      left: 1px
    &:checked:after
      left: (FORM_CIRCLE_HEIGHT - 1)
