/**
 * Atoms
 *
 * @namespace atom.button.styl
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
button
  display: inline-block
  vertical-align: middle
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  text-align: center
  text-decoration: none
  line-height: 1em
  border: none
  cursor: pointer
  outline: none
  background: none
  text-transform: capitalize

  & > .icon
    line-height: 0.9em
  & > .icon + abbr
    margin-left: 0.25em

  &.loading
    & > .icon:before, & > abbr:before
      content: "\f29d"
      font-family: "Ionicons"
      font-weight: 100
      transform-origin: 50% 50%
      animation loading-spin 2s infinite linear
    & > .icon:before
      position: relative
    & > abbr:before
      position: absolute
      left: 1rem
    & > .icon + abbr:before
      content: ""

  [data-atoms="app"] header &
    height: HEADER_HEIGHT
    padding: 0 0.6em
    vertical-align: top
    & > .icon
      font-size: (FONT_SIZE_BIG * 1.25)

  [data-atoms="app"] section &
    padding: 0.8em 1.0em
    margin: 0.2em 0
    & .icon
      font-size: FONT_SIZE_BIG
    &.big
      font-size: FONT_SIZE_BIG
    &:not(.big):not(.small):not(.tiny)
      font-size: 1.1rem
    &.small
      font-size: FONT_SIZE_SMALL
    &.tiny
      font-size: FONT_SIZE_TINY
      padding: 0.5em 0.6em
    &.fluid
      width: 100%
      position: relative
      &:not(.icon) > .icon
        position: absolute
        left: 1rem
    &[disabled]
      cursor: default
    & + button
      margin-right: 0.2em
