[data-atoms=app]
  [data-organism=section] > [data-molecule=form][data-extend=search]
    position: relative
    width: inherit
    > *
      margin-top: 0px !important
      margin-bottom: 0px !important
    > button
      position: absolute
      top: 0px
      right: 0px
      & , & > .icon
        line-height: 0.85rem

  [data-organism=article] > [data-molecule=form][data-extend=search]
    min-height: HEADER_EXTRA_HEIGHT
    > input
      margin: 0 !important
      border: none
      line-height: 1.7rem
      padding: .5rem
    > button
      display: none
    &.scroll
      margin-top: -(HEADER_EXTRA_HEIGHT + .5rem)
