[data-atoms=app]
  > [data-organism-article]
    >, > [data-organism-section], > [data-organism-footer]
      [data-molecule-navigation]
        width: 100%
        display-flex()
        align-content stretch
        > [data-atom-button]
          flex-grow 1
          margin: 0
          padding: 0
          width: 100%
          text-align: center

  > [data-organism-article] > [data-molecule-navigation]
    height: HEADER_EXTRA_HEIGHT
    > [data-atom-button]
      font-size: FONT_SIZE_TINY
      > small
        display: none
    &.scroll
      margin-top: -(HEADER_EXTRA_HEIGHT + .5rem)

  > * > [data-organism-header] [data-molecule-navigation]
    z-index: 1
    height:  HEADER_HEIGHT
    min-width: (HEADER_HEIGHT / 2)
    text-align: center
    &.left
      margin-left: .4rem
    &.right
      margin-right: .4rem

  > [data-organism-article] > [data-organism-section] [data-molecule-navigation]
    &, > [data-atom-button]
      height:  HEADER_HEIGHT

  > [data-organism-aside] > [data-organism-section] [data-molecule-navigation]
    min-height: HEADER_HEIGHT

  > [data-organism-article] > [data-organism-footer] [data-molecule-navigation]
    height:  FOOTER_HEIGHT
    > [data-atom-button]
      height:  FOOTER_HEIGHT
      font-size: (FONT_SIZE_NORMAL * 1.5)

  > [data-system=dialog] [data-organism-footer] > [data-molecule-navigation]
      font-size: FONT_SIZE_TINY
      text-align: right
      width: 100%
      &:not(.block)
        display: inline-block
      &.block
        > [data-atom-button]
          display: block
          width: 100%
          text-align: right
          float: none
      > [data-atom-button]
        padding: 0 .4rem
        line-height: HEIGHT = (2.5 * FONT_SIZE_TINY)
