[data-atoms=app]
  [data-molecule=form][data-extend=search]
    position: relative
    width: 100%
    > *
      margin-top: 0px !important
      margin-bottom: 0px !important
    > button
      position: absolute
      top: 0px
      right: 0px
      & , & > .icon
        line-height: 0.85rem

  [data-molecule=navigation] > [data-molecule=form][data-extend=search]
    padding: AIR = .4rem
    > input
      border: none
      height: ARTICLE_NAV_HEIGHT - AIR
      padding: 0 AIR / 2
      vertical-align: bottom
    > button
      display: none
