[data-atoms="app"] [data-molecule="search"]
  display-box()
  box-pack(justify)
  box-orient(horizontal)

  > *
    display: inline-block

  > input
    box-flex(1)
    width: 80%

  > button
    box-flex(0)
    float: right
    & , & > .icon
      line-height: 0.875rem
