[data-atoms=app]
  [data-molecule=tags]
    > [data-atom=label]
      display: inline-block
      padding: 0 (FONT_SIZE_TINY / 2)
      font-size: FONT_SIZE_TINY
      line-height: (FONT_SIZE_TINY * 1.5)
      margin-right: .2rem
