[data-atoms=app]
  > [data-organism-article]
    order: 1
    width: inherit
    height: inherit
    backface-visibility hidden
    overflow: hidden
    &:not(.active)
      z-index: -1
      visibility: hidden
    &.active
      visibility: visible


@media only screen and (min-width : WIDTH_FOR_MOBILE) and (orientation: portrait)
  , only screen and (min-device-width : 768px) and (max-device-width : 1024px) /* ipad */
  [data-atoms=app]
    > [data-organism-article]
      order: 1
