[data-system=dialog]
  z-index: 1980
  position: absolute
  top: 0px
  left: 0px
  width: inherit
  height: inherit
  display-flex()
  justify-content center
  align-content center
  align-items center
  overflow: hidden

  &:not(.active)
    visibility: hidden
  &.active
    visibility: visible

  > [data-organism-dialog]
    backface-visibility hidden
    transform translateZ(0)

  > [data-organism-dialog=loading]
    SIZE = .6rem
    padding: SIZE
    &::before, &::after
      content: ""
      display: block
      width: (1.75 * SIZE)
      height: (1.75 * SIZE)
    &::before
      float: left
      margin-right: (SIZE / 2)
    &::after
      float: right
      margin-left: (SIZE / 2)

  > :not([data-organism-dialog=loading])
    width: MODAL_WIDTH
    PAD = (1.5 * PADDING)
    > [data-organism-header]
      padding: PADDING PAD
      > *
        display: inline-block
        margin-right: .25rem
        font-size: FONT_SIZE_BIG
    > [data-organism-section]
      padding: (.75 * PAD) PAD
    > [data-organism-footer]
      padding: PADDING PAD

    &:not(.cancel):not(.accept):not(.warning)
      > [data-organism-header] + [data-organism-section]
        padding-top: 0
