[data-organism=section]
  [data-atoms=app] > [data-organism=article] > &, [data-atoms=app] > [data-organism=aside] > &
    width: auto
    height: auto
    overflow-x: hidden
    overflow-y: scroll

    &.padding
      > *
        margin: .75rem
    &[data-state=pull].pull
      top: 80px

    /* BUG (iOS) POSITION: relative childrens */
    & > *
      transform translate3d(0,0,0)

  [data-atoms=app] [data-organism=article].active > &
    &:not(.active)
      display: none
    &.active
      -webkit-overflow-scrolling: touch
      &:not(.centered)
        display: block
      &.centered
        display-flex()
        flex-direction column
        justify-content center
        align-content center
        align-items center

      PROGRESS_HEIGHT = .2rem
      &[data-state=pulling], &[data-state=pull]
        position: relative
        &:before
          z-index: 0
          position: fixed
          content: " "
          display: block
          left: 0px
          right: 0px
          width: 100%
          height: PROGRESS_HEIGHT
      &[data-pull]:before
        top: attr(data-pull, px)
      &.loading
        top: PROGRESS_HEIGHT !important
