[data-atoms=app]
  > [data-organism-article]
    order: 1
    width: inherit
    height: inherit
    backface-visibility hidden
    overflow: hidden
    &:not(.active)
      z-index: -1
      visibility: hidden
    &.active
      visibility: visible

  &[data-screen=normal]
    > [data-organism-article]
      order: 1
