[data-atoms="app"] > article
  position: absolute
  width: inherit
  height: inherit
  backface-visibility hidden
  overflow: hidden

  &:not(.active)
    visibility: hidden
    & > section
      display: none

  &.active
    visibility: visible
