[data-system=modal]
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 1980
  display-flex()
  justify-content center
  align-content center
  align-items center

  & > [data-organism]
    transform translate3d(0,0,0)

  & > [data-extend=loading]
    padding: PADDING
    &::before, &::after
      content: ""
      display: block
      width: SIZE = (PADDING * 2)
      height: SIZE
    &::before
      float: left
      margin-right: (PADDING / 2)
    &::after
      float: right
      margin-left: (PADDING / 2)

  & > :not([data-extend=loading])
    width: MODAL_WIDTH
    text-align: center
    & > header, & > section
      padding: PADDING
    & > header
      & > *
        display: block
      & .icon
        font-size: 3.5rem
