[data-system=modal]
  z-index: 1980
  position: absolute
  top: 0px
  left: 0px
  width: inherit
  height: inherit
  display-flex()
  justify-content center
  align-content center
  align-items center
  overflow: hidden

  &:not(.active)
    visibility: hidden
  &.active
    visibility: visible

  & > [data-organism]
    backface-visibility hidden
    transform translateZ(0)

  & > [data-extend=loading]
    padding: PADDING
    &::before, &::after
      content: ""
      display: block
      width: SIZE = (PADDING * 2)
      height: SIZE
    &::before
      float: left
      margin-right: (PADDING / 2)
    &::after
      float: right
      margin-left: (PADDING / 2)

  & > :not([data-extend=loading])
    width: MODAL_WIDTH
    text-align: center
    & > header, & > section
      padding: PADDING
    & > header
      & > *
        display: block
      & .icon
        font-size: 3.5rem
