[data-system=dialog]
  z-index: 1980
  left: 0
  width: 100%
  overflow: hidden

  &:not(.no-block)
    position: fixed
    top: 0
    height: 100%
    display-flex()
    justify-content center
    align-content center
    align-items center

  &.no-block
    position: absolute
    bottom: 0
    height: HEIGHT = (HEADER_HEIGHT / 2)
    padding-top: (.5 * PADDING)
    line-height: HEIGHT
    &.expand
      height: (HEADER_HEIGHT / 2) + (HEADER_HEIGHT * 1.1)

  &:not(.active)
    visibility: hidden
  &.active
    visibility: visible

  > [data-organism-dialog]
    backface-visibility hidden
    transform translateZ(0)

  > [data-organism-dialog=loading]
    SIZE = .6rem
    padding: SIZE
    &::before, &::after
      content: ""
      display: block
      width: (1.75 * SIZE)
      height: (1.75 * SIZE)
    &::before
      float: left
      margin-right: (SIZE / 2)
    &::after
      float: right
      margin-left: (SIZE / 2)

  > [data-organism-dialog=push]
    PADDING = (.75 * PADDING)
    > h1
      font-size: FONT_SIZE_SMALL
      font-weight: normal
      padding: 0 PADDING
    > section
      height: (1.25 * HEADER_HEIGHT)
      padding: PADDING
      display-flex()
      flex-direction row
      justify-content center
      align-content center
      text-align: -webkit-match-parent
      SIZE = 2.35rem
      > figure
        height: SIZE
        width: SIZE
        margin-right: PADDING
        background-size: cover
        flex-shrink 0
      > p
        flex-grow 2
        font-size: FONT_SIZE_TINY
        line-height: FONT_SIZE_BIG
        height: SIZE
        overflow: hidden


  > :not([data-organism-dialog=loading]):not([data-organism-dialog=push])
    width: MODAL_WIDTH
    PAD = (1.5 * PADDING)
    display-flex()
    flex-direction column

    > [data-organism-header]
      order 1
      > [data-atom-heading]
        padding: 0 0 0 PAD
        font-size: FONT_SIZE_BIG
      > [data-molecule-navigation]
        padding: 0 PADDING 0 0
      > *
        display: inline-block

    > [data-organism-section]
      order 3
      flex-grow 2
      padding: (.75 * PAD) PAD

    > [data-organism-footer]
      order 4
      padding: PADDING PAD

    &:not(.cancel):not(.accept):not(.warning)
      > [data-organism-header] + [data-organism-section]
        padding-top: 0

    &.side
      position: absolute
      height: inherit
      &:not(.right)
        left: 0px
      &.right
        right: 0px
