section
  [data-atoms="app"] article &, [data-atoms="app"] aside &
    overflow-x: hidden
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    box-flex(1)

    &.padding
      padding: .75rem 1rem

    &[data-state=pull].pull
      position: relative
      top: 80px

    /* BUG (iOS) POSITION: relative childrens */
    & > *
      transform translate3d(0,0,0)

  [data-atoms="app"] article.active > &
    &:not(.active)
      display: none
    &.active
      display: block
      &[data-state=pulling], &[data-state=pull]
        &:before
          z-index: 0
          display: block
          position: fixed
          left: 50%
          width: HEIGHT_PULL_REFRESH
          height: HEIGHT_PULL_REFRESH
          margin-left: -((HEIGHT_PULL_REFRESH) / 2)
          line-height: HEIGHT_PULL_REFRESH
          text-align: center
        &:not(with-navigation):before
          top: HEADER_HEIGHT
        &.with-navigation:before
          top: 96px

  [data-atoms="app"] aside &
    width: 100%
