header
  [data-atoms=app] > article &, [data-atoms=app] > aside &
    z-index: 1
    height: HEADER_HEIGHT
    line-height: HEADER_HEIGHT

  [data-atoms=app] > article &
    &.scroll
      margin-top: -(HEADER_HEIGHT)

  [data-atoms=app].standalone > article &, [data-atoms=app].standalone > aside &
    height: auto
    height: HEADER_HEIGHT_STANDALONE
    border-top: solid IOS_STANDALONE_HEIGHT #000
