[data-atoms=app]
  > [data-organism-article], > [data-organism-aside]
    > [data-organism-footer]
      z-index: 2
      height: FOOTER_HEIGHT
      line-height: FOOTER_HEIGHT

  > [data-organism-article] > [data-organism-footer]
    &.scroll
      margin-bottom: -(FOOTER_HEIGHT)
