[data-atoms="app"]
  & > article, & > aside
    footer
      height: FOOTER_HEIGHT
      line-height: FOOTER_HEIGHT

[data-atoms="app"]
  & > article > footer
    &.scroll
      margin-bottom: -(FOOTER_HEIGHT)
