[data-atoms=app]
  > [data-organism-aside]
    top: 0
    height: 100%
    &:not(.active)
      visibility: hidden
    &.active
      visibility: visible

  &[data-screen=small] > [data-organism-aside]
    &:not(.right)
      left: 0
    &.right
      right: 0

  &[data-screen=normal] > [data-organism-aside]
    &:not(.active)
      display: none
    flex-shrink 0
    &:not(.right)
      order: 1
    &.right
      order: 3
