label
  [data-atoms="app"] fieldset &, [data-atoms="app"] form &
    color: darken(FORM_COLOR, 65%)

  [data-atoms="app"] &.tag
    background: #E8E8E8
    border-radius BORDER_RADIUS
    color: rgba(0, 0, 0, 0.6)

