[data-atoms="app"]

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea, label.select
    font-family: "Helvetica Neue", "Helvetica", Arial
    background-color: WHITE
    border: 1px solid FORM_COLOR
    border-radius: BORDER_RADIUS

    color: DARK
    transition background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease

    &.error, &.required
      color: darken(CANCEL, 5%)
      background-color: lighten(CANCEL, 92.5%)
      border-color: lighten(CANCEL, 20%)
      &::-webkit-input-placeholder
        color: lighten(CANCEL, 40%)
      &::-moz-placeholder
        color: lighten(CANCEL, 40%)
      &:-ms-input-placeholder
        color: lighten(CANCEL, 40%)

    &::-webkit-input-placeholder
      color: FORM_COLOR
    &::-moz-placeholder
      color: FORM_COLOR
    &::-ms-input-placeholder
      color: FORM_COLOR


  CIRCLE_BORDER = 1px solid FORM_COLOR
  CIRCLE_BACKGROUND = lighten(FORM_COLOR, 95%)
  /* -------------------------- RANGE -------------------------- */
  input[type=range]
    background-color: FORM_COLOR
    border-radius: (BORDER_RADIUS / 2)
    &:hover, &:active
      background-color: THEME !important
    &::-webkit-slider-thumb
      border-radius: 50%
      background-color: CIRCLE_BACKGROUND
      border: CIRCLE_BORDER

  /* -------------------------- CHECKBOX -------------------------- */
  input[type=checkbox]
    border: 1px solid FORM_COLOR
    border-radius: RADIUS = 1rem
    background-color: lighten(FORM_COLOR, 30%)
    &:after
      background-color: CIRCLE_BACKGROUND
      border: CIRCLE_BORDER
      border-radius: RADIUS
    &:checked
      COLOR = THEME
      border-color: darken(THEME, 10%)
      background-color: THEME
      &:after
        border-color: SUCCESS
