nav
  [data-atoms="app"] article header & button
    color: lighten(THEME, 75%)

  [data-atoms="app"] aside section &
    & a
      font-weight: normal
      &:not(.active)
        color: THEME
      &.active
        color: WHITE


  [data-atoms="app"] aside header & button
    color: lighten(DARK, 75%)

  [data-atoms="app"] header & button
    &:hover, &:active, &.active
        color: WHITE !important

  [data-atoms="app"] footer & button
    color: lighten(DARK, 50%)
    &:active, &:hover, &.active
      color: WHITE



